<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>

        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「新規登録機能へのパス」は、devise導入後にrails routesを実行してdevise/registrations#createへのパスを確認し、記載してください。 %>
        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>


        <div class="field">
          <%= f.label :nickname, "ニックネーム" %>
          <span class="indispensable">必須</span><br />
          <%= f.text_field :nickname, id:"user_name" %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス" %>
          <span class="indispensable">必須</span><br />
          <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %>
          <span class="indispensable">必須</span><br />
          <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %>
          <span class="indispensable">必須</span><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :age, "年齢" %><br />
          <%= f.text_field :age, id:"user_age" %>
        </div>

        <div class="field">
          <%= f.label :gender_id, "性別" %><br />
          <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"gender-select"}) %>

        </div>

        <div class="field">
          <%= f.label :rank_id, "ランク" %><br />
          <%= f.collection_select(:rank_id, Rank.all, :id, :name, {}, {class:"rank-select"}) %>

        </div>

        <div class="field">
          <%= f.label :content, "自己紹介" %><br />
          <%= f.text_area :content, class: :form__text, id:"user_profile" %>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>

                
      <% end %>
    </div>
  </div>
</div>
