<%= form_with model: @diary, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "題名" %><br />
    <%= f.text_field :title, id:"diary_title" %>
  </div>

  <div class="field2">
    <%= f.label :text, "日記を書 く" %><br />
    <%= f.text_area :text, class: :form__text, id:"diary_copy" %>
  </div>


  <div class="field">
    <%= f.label :image, "サムネイル" %><br />
    <%= f.file_field :image, id:"diary_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>