<div class="main">
  <%= image_tag "apex3.jpeg", class:"image" %>
  <div class="main_2">
    <div class="top">
      <div class="chat_text">最新の話題
      </div> 
      <div class="chat_room">aaaaaa
      </div>
    </div>
  </div>
</div>
<div class="main_center">
  <%= image_tag "背景2.jpeg", class:"image2" %>
</div>
<div class="main_botton">
  <div class="main_botton2">
    <div class="botton">
      <div class="diary_text">新着日記
      </div>
      <ul class="diary">
        <% @diaries.each do |diary| %>
          <li class='list'>

            <%= link_to diary_path(diary.id) do %>
            <div class='diary-img-content'>
            </div>
            <div class='diary-info'>
              <div class='diary-name'>
                <%= diary.title %>
              </div>
                
            </div>
            <% end %>
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="main_end">
  <%= image_tag "apex5.jpeg", class:"image" %>
</div>