<div class="main">
  <%= image_tag "apex.jpeg", class:"image" %>
  <div class="main_2">
    <div class="top">
     <div class="text_box">
      <%= image_tag "看板.png", class:"image4" %>
        <div class="chat_text0">
        Topic
        </div> 
        <div class="chat_text">
        <%= link_to "トピック一覧", topics_path  %>
        </div>
        <div class="chat_text2">
        ↓最新の話題↓
        </div> 
      </div>
      </div>
      <div class="top2">
      <ul class="chat_room">
        <% @topics.each do |topic| %>
          <li class=''>
            <%= link_to topic_path(topic.id) do %>
            <div class='topic'>
              <div class= topic_block>
                
                  <%= topic.name %>
                
              </div>
              
              <div class='topic_time'>
                作成日<%= topic.updated_at.strftime("%Y年 %m月 %d日") %>
              </div>
            </div>
            <% end %>
          </li>
       <% end %>
      </ul>
      </div>
    </div>
  </div>
</div>
<div class="main_center">
  <%= image_tag "背景.jpeg", class:"image2" %>
</div>
<div class="main_center2">
  <%= image_tag "背景2.jpeg", class:"image2" %>
  <div class="center">
    <div class="center2">
      <div class="center3">PV数ランキング
       </div>
      <div class="rank">
        <% @users.each do |user| %>
        <%= link_to user_path(user.id) do %>
        <div class="ranking">
        <%= image_tag user.user_profile_or_empty, class: 'diary-image' %>
      </div>
      <div class="ranking2">
      <%= user.nickname %>
      </div>
      
      <% end %>
      <% end %>
      
    </div>
  </div>
  <div class="ranking3">
      <div class="r1">1位
      </div>
      <div class="r2">2位
      </div>
      <div class="r3">3位
      </div>
      </div>
</div>
<div class="main_center">
  <%= image_tag "背景.jpeg", class:"image2" %>
</div>

<div class="main_botton">
  <div class="main_botton2">
    <div class="botton">
      <div class="diary_text">新着日記
      </div>
      <ul class="diary">
        <% @diaries.each do |diary| %>
          <li class='list'>

            <%= link_to diary_path(diary.id) do %>
            <div class='diary-img-content'>
            <%= image_tag diary.diary_profile_or_empty, class: 'diary-image' %>
            </div>
            <div class='diary-info'>
              <div class='diary-name'>
                <%= diary.title %>
              </div>
              <% end %>
              <%= link_to diary.user.nickname, "/users/#{diary.user.id}", class: :card__user %>
            </div>
            
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="main_end">
  <%= image_tag "apex5.jpeg", class:"image" %>
</div>