<div class="main">
  <%= image_tag "apex.jpeg", class:"image" %>
  <div class="main_2">
    <div class="top">
      <div class="chat_text">最新の話題
      </div> 
      <ul class="chat_room">
        <% @topics.each do |topic| %>
          <li class=''>
            <%= link_to topic_path(topic.id) do %>
            <div class='topic'>
              <div class= topic_block>■
                
                  <%= topic.name %>
                
              </div>
              
              <div class='topic_time'>
                更新日<%= topic.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </div>
            </div>
            <% end %>
          </li>
       <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="main_center">
  <%= image_tag "背景.jpeg", class:"image2" %>
</div>
<div class="main_botton">
  <div class="main_botton2">
    <div class="botton">
      <div class="diary_text">新着日記
      </div>
      <ul class="diary">
        <% @diaries.each do |diary| %>
          <li class='list'>

            <%= link_to diary_path(diary.id) do %>
            <div class='diary-img-content'>
            <%= image_tag diary.diary_profile_or_empty, class: 'diary-image' %>
            </div>
            <div class='diary-info'>
              <div class='diary-name'>
                <%= diary.title %>
              </div>
              <% end %>
              <%= link_to 'by ' + diary.user.nickname, "/users/#{diary.user.id}", class: :card__user %>
            </div>
            
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="main_end">
  <%= image_tag "apex5.jpeg", class:"image" %>
</div>