<div class="user_main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.nickname %>
      </h2>
      閲覧者<%= @user.impressions_count %>人
      <div class="follow_box">
      <div class="follow">
      <%= link_to "フォロー", user_followings_path(@user.id) %>
      <%= link_to @user.followings.count %></td>
      </div>
      <div class="follower">
      <%= link_to "フォロワー", user_followers_path(@user.id) %>
      <%= link_to @user.followers.count %></td>
      </div>
      </div>
      <%= image_tag @user.user_profile_or_empty, class: 'user-image' %>
      
      <% if signed_in? && @user != current_user%>
       <% if current_user.following?(@user) %>
       <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete %>
       <% else %>
       <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
       <% end %>
       <% end %>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">年齢</th>
            <td class="table__col2"><%= @user.age %></td>
          </tr>
          <tr>
            <th class="table__col1">性別</th>
            <td class="table__col2"><%= @user.gender.name %></td>
          </tr>
          <tr>
            <th class="table__col1">ランク</th>
            <td class="table__col2"><%= @user.rank.name %></td>
          </tr>
          <tr>
            <th class="table__col1">自己紹介</th>
            <td class="table__col2"><%= @user.content %></td>
          </tr>
        </tbody>
      </table>
      <% if user_signed_in? && @user == current_user %>
      <%= link_to "DM一覧", rooms_path, class: "item-red-btn"%>
      <% end %>
           <% unless @user.id == current_user.id %>
      <% if @isRoom == true %>
        <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg"> DMを見る</a>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: @user.id %>
          <% end %>
          <%= f.submit "DMを送る", class:"btn btn-primary btn-lg user-show-chat"%>
        
      <% end %>
      <% end %>
    <% end %>
      <% if user_signed_in? && @user == current_user %>
      <%= link_to "プロフィールの編集", edit_user_path(current_user), method: :get, class: "item-red-btn" %>
      <% end %>
       <h2 class="chat_text3">
        Diary's
      </h2>
      <div class="diary">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%= render partial: 'diaries/diary', collection: @diaries %>
      </div>
    </div>
  </div>
</div>